---
title: Gobot News
page_title: Gobot
page_subtitle: News
layout: page
active_menu_news: true
page_title_show: true
---
%section.resources
  %h2#news
    = link_to "News", "/news"

  %p
    = link_to "Gobot Makes Internet of Things Development Both Easy And Powerful - Open Source Robotics and IoT Framework Releases Version 1.0", "/news/gobot-1.0-release"

  %p
    = link_to "Internet of Anything: Simple Tools Make It Possible for Anyone to Hack Robots - Wired features Gobot", "http://www.wired.com/2015/04/internet-anything-time-everyone-able-hack-robots/", target:"_blank", class: "external-link"

  %p
    = link_to "Opening Up the World of Robotics: 'The Internet Of Toys' - Gobot in VICE Motherboard", "https://motherboard.vice.com/en_us/article/opening-up-the-world-of-robotics", target:"_blank", class: "external-link"

  %p
    = link_to "Industry Spotlight: Internet of Things: Closing the gap between customers, business - Gobot in SDTimes", "http://sdtimes.com/closing-the-gap-between-customers-business/", target:"_blank", class: "external-link"
