%html{"ng-app" => "cylon"}
  %head
    = partial "/layouts/partials/head"
  %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Lato:400', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/gif' }/
  %body
    = partial "layouts/layout-contents"
    .app
      %header.app-header{role: "banner"}
        .container
          .display
            = partial "/hybridpages/partials/layouts/app-logo"

          %nav.menu
            = yield_content :menu

      - if current_page.data.hero == true
        = partial "/hybridpages/partials/widgets/hero"

      - if current_page.data.page_title_show == true && (current_page.data.layout != 'documentation' || current_page.data.main_nav == true)
        = partial "/hybridpages/partials/widgets/page_title"

      = yield

      - if current_page.data.catcher == true
        = partial "/hybridpages/partials/widgets/catcher"

    %footer.app-footer
      .grass-footer
      = partial "/layouts/partials/footer"


