%html{"ng-app" => "gobot"}
  %head
    = partial "/layouts/hybridpages/head"
  %link{href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Lato:400', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/gif' }/
  %body
    = partial "layouts/layout-contents"
    .app
      %header.app-header{role: "banner", :id => "top"}
        .container
          .display
            .app-logo
              = yield_content :logo

          %nav.menu
            = yield_content :menu

      - if current_page.data.hero == true
        = partial "/layouts/hybridpages/hero"

      - if current_page.data.page_title_show == true && (current_page.data.layout != 'documentation' || current_page.data.main_nav == true)
        = partial "/layouts/hybridpages/page_title"

      = yield

      - if current_page.data.catcher == true
        = partial "/layouts/hybridpages/catcher"

    %footer.app-footer
      .grass-footer
      = partial "/layouts/hybridpages/footer"
