---
title: Ardrone with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Ardrone
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-ardrone' target='blanck' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-ardrone/issues' target='blanck'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/ardrone.jpg", class: "display"
  .info-intro
    %p The ARDrone from Parrot is an inexpensive quadcopter that is controlled using WiFi. It includes a built-in front-facing HD video camera, as well as a second lower resolution bottom facing video camera.

    %p
      For more info about the ARDrone platform click
      = succeed "." do
        = link_to "here", "http://ardrone2.parrot.com/", target: :blank

    %a{ :href => "http://godoc.org/github.com/hybridgroup/gobot/platforms/ardrone#ArdroneAdaptor", :class => "api-link", :target => "_blank"} API Reference  
  .clear

%section.how-to
  = partial "documentation/platforms/partials/ardrone"


%section.drivers#Drivers
  %h2 Drivers
  %p Available drivers for the ARDrone platform are listed below..

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "ARDrone" }
