---
title: BeagleBone with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: BeagleBone
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-beaglebone' class='repository' target='_blank'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot-beaglebone/issues' target='_blank'>Issues</a>"
page_title_show: true
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/beaglebone.jpg", class: "display"
  .info-intro
    %p The BeagleBone is an ARM based single board computer, with many different GPIO interfaces built in.

    %p
      For more info about the BeagleBone platform click
      = succeed "." do
        = link_to "here", "http://beagleboard.org/Products/BeagleBone+Black", target: :blank

    %a{ :href => "http://godoc.org/github.com/hybridgroup/gobot/platforms/beaglebone#BeagleboneAdaptor", :class => "api-link", :target => "_blank"} API Reference

  .clear

%section.how-to
  = partial "documentation/platforms/partials/beaglebone"

%section.drivers#Drivers
  %h2 Drivers
  %p All Gobot digital GPIO and i2c drivers listed below should work with the BeagleBone:

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Beaglebone Black" }
