---
title: Leapmotion with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Leapmotion
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot-leapmotion' target='_blank' class='repository'>Repository</a> <a class+'issues' target='_blank' href='https://github.com/hybridgroup/gobot-leapmotion/issues'>Issues</a>"
page_title_show: true
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/leapmotion.jpg", class: "display"
  .info-intro
    %p
      The Leap Motion is a user-interface device that tracks the user's hand motions, and translates them into events that can control robots and physical computing hardware.

    %p
      For more info about the Leap Motion platform click
      = succeed "." do
        = link_to "here", "https://www.leapmotion.com/", target: :blank

    %a{ :href => "http://godoc.org/github.com/hybridgroup/gobot/platforms/leap#LeapMotionAdaptor", :class => "api-link", :target => "_blank"} API Reference
  .clear

%section.how-to
  = partial "documentation/platforms/partials/leap"

%section.drivers#Drivers
  %h2 Drivers
  %p
    There is only one driver for the Leap Motion platform as listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Leap Motion" }
