---
title: Raspberry Pi with Gobot
author: The Hybrid Group
page_title: Platforms
page_subtitle: Gobot has an extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported.
page_title_docs: Raspberry Pi
page_subtitle_docs: "<a href='https://github.com/hybridgroup/gobot/tree/master/platforms/raspi' target='_blank' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/gobot/issues' target='_blank'>Issues</a>"
page_title_show: true
layout: documentation
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---

%section.intro
  = image_tag "/images/devices/raspi.jpg", class: "display"
  .info-intro
    %p
      The Raspberry Pi is an inexpensive and popular ARM based single board computer with digital & PWM GPIO, and i2c interfaces built in.

    %p
      The Raspberry Pi is a credit-card-sized single-board computer developed in the UK by the Raspberry Pi Foundation with the intention of promoting the teaching of basic computer science in schools

    %p
      For more info about the Raspberry Pi platform, click
      = succeed "." do
        = link_to "here", "http://www.raspberrypi.org/", target: :blank

    %a{ :href => "http://godoc.org/github.com/hybridgroup/gobot/platforms/raspi#RaspiAdaptor", :class => "api-link", :target => "_blank"} API Reference
  .clear

%section.how-to
  = partial "documentation/platforms/partials/raspi"

%section.drivers#Drivers
  %h2 Drivers
  %p All Gobot digital and PWM GPIO, and I2C drivers listed below should work with the Raspberry Pi:
  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Raspberry Pi" }
