---
page_title_show: true
layout: documentation
title: Examples - Gobot - Golang framework for robotics, physical computing, and the Internet of Things (IoT)
page_title: Examples
author: The Hybrid Group
description: Examples of using gobot with different hardware configurations
page_subtitle: How you can get started.
active_menu_docs: true
---

.examples
  %h2 Examples
  %table
    %thead
      %th Example
      %th.links Link
    %tbody
      %tr
        %td ardrone
        %td.links= link_to 'Code', '/documentation/examples/ardrone'
      %tr
        %td ardrone_face_tracking
        %td.links= link_to 'Code', '/documentation/examples/ardrone_face_tracking'
      %tr
        %td ardrone_ps3
        %td.links= link_to 'Code', '/documentation/examples/ardrone_ps3'
      %tr
        %td audio
        %td.links= link_to 'Code', '/documentation/examples/audio'
      %tr
        %td batty
        %td.links= link_to 'Code', '/documentation/examples/batty'
      %tr
        %td bb8
        %td.links= link_to 'Code', '/documentation/examples/bb8'
      %tr
        %td bb8-collision
        %td.links= link_to 'Code', '/documentation/examples/bb8-collision'
      %tr
        %td beaglebone_basic_direct_pin
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_basic_direct_pin'
      %tr
        %td beaglebone_blink
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_blink'
      %tr
        %td beaglebone_blink_usr_led
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_blink_usr_led'
      %tr
        %td beaglebone_blinkm
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_blinkm'
      %tr
        %td beaglebone_button
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_button'
      %tr
        %td beaglebone_direct_pin
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_direct_pin'
      %tr
        %td beaglebone_grove_accelerometer
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_grove_accelerometer'
      %tr
        %td beaglebone_led_brightness
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_led_brightness'
      %tr
        %td beaglebone_led_brightness_with_analog_input
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_led_brightness_with_analog_input'
      %tr
        %td beaglebone_makey_button
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_makey_button'
      %tr
        %td beaglebone_servo
        %td.links= link_to 'Code', '/documentation/examples/beaglebone_servo'
      %tr
        %td bebop
        %td.links= link_to 'Code', '/documentation/examples/bebop'
      %tr
        %td bebop_ps3
        %td.links= link_to 'Code', '/documentation/examples/bebop_ps3'
      %tr
        %td bebop_ps3_video
        %td.links= link_to 'Code', '/documentation/examples/bebop_ps3_video'
      %tr
        %td bebop_rtp_video
        %td.links= link_to 'Code', '/documentation/examples/bebop_rtp_video'
      %tr
        %td ble_battery
        %td.links= link_to 'Code', '/documentation/examples/ble_battery'
      %tr
        %td ble_device_info
        %td.links= link_to 'Code', '/documentation/examples/ble_device_info'
      %tr
        %td ble_firmata_blink
        %td.links= link_to 'Code', '/documentation/examples/ble_firmata_blink'
      %tr
        %td ble_generic_access
        %td.links= link_to 'Code', '/documentation/examples/ble_generic_access'
      %tr
        %td chip_blink
        %td.links= link_to 'Code', '/documentation/examples/chip_blink'
      %tr
        %td chip_blinkm
        %td.links= link_to 'Code', '/documentation/examples/chip_blinkm'
      %tr
        %td chip_button
        %td.links= link_to 'Code', '/documentation/examples/chip_button'
      %tr
        %td chip_button_led
        %td.links= link_to 'Code', '/documentation/examples/chip_button_led'
      %tr
        %td chip_grove_accelerometer
        %td.links= link_to 'Code', '/documentation/examples/chip_grove_accelerometer'
      %tr
        %td chip_grove_lcd
        %td.links= link_to 'Code', '/documentation/examples/chip_grove_lcd'
      %tr
        %td chip_mpu6050
        %td.links= link_to 'Code', '/documentation/examples/chip_mpu6050'
      %tr
        %td chip_wiichuck
        %td.links= link_to 'Code', '/documentation/examples/chip_wiichuck'
      %tr
        %td digispark_api
        %td.links= link_to 'Code', '/documentation/examples/digispark_api'
      %tr
        %td digispark_blink
        %td.links= link_to 'Code', '/documentation/examples/digispark_blink'
      %tr
        %td digispark_led_brightness
        %td.links= link_to 'Code', '/documentation/examples/digispark_led_brightness'
      %tr
        %td digispark_servo
        %td.links= link_to 'Code', '/documentation/examples/digispark_servo'
      %tr
        %td edison_blink
        %td.links= link_to 'Code', '/documentation/examples/edison_blink'
      %tr
        %td edison_blink_without_all_gobot_framework
        %td.links= link_to 'Code', '/documentation/examples/edison_blink_without_all_gobot_framework'
      %tr
        %td edison_blinkm
        %td.links= link_to 'Code', '/documentation/examples/edison_blinkm'
      %tr
        %td edison_button
        %td.links= link_to 'Code', '/documentation/examples/edison_button'
      %tr
        %td edison_button_led
        %td.links= link_to 'Code', '/documentation/examples/edison_button_led'
      %tr
        %td edison_button_led_api
        %td.links= link_to 'Code', '/documentation/examples/edison_button_led_api'
      %tr
        %td edison_grove_accelerometer
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_accelerometer'
      %tr
        %td edison_grove_blink
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_blink'
      %tr
        %td edison_grove_button
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_button'
      %tr
        %td edison_grove_buzzer
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_buzzer'
      %tr
        %td edison_grove_lcd
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_lcd'
      %tr
        %td edison_grove_led
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_led'
      %tr
        %td edison_grove_light_sensor
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_light_sensor'
      %tr
        %td edison_grove_piezo_vibration
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_piezo_vibration'
      %tr
        %td edison_grove_rotary_sensor
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_rotary_sensor'
      %tr
        %td edison_grove_sound_sensor
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_sound_sensor'
      %tr
        %td edison_grove_temperature_sensor
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_temperature_sensor'
      %tr
        %td edison_grove_touch
        %td.links= link_to 'Code', '/documentation/examples/edison_grove_touch'
      %tr
        %td edison_led_brightness
        %td.links= link_to 'Code', '/documentation/examples/edison_led_brightness'
      %tr
        %td edison_led_brightness_with_analog_input
        %td.links= link_to 'Code', '/documentation/examples/edison_led_brightness_with_analog_input'
      %tr
        %td edison_miniboard_grove_accelerometer
        %td.links= link_to 'Code', '/documentation/examples/edison_miniboard_grove_accelerometer'
      %tr
        %td edison_rgb_led
        %td.links= link_to 'Code', '/documentation/examples/edison_rgb_led'
      %tr
        %td every_done
        %td.links= link_to 'Code', '/documentation/examples/every_done'
      %tr
        %td firmata_blink
        %td.links= link_to 'Code', '/documentation/examples/firmata_blink'
      %tr
        %td firmata_blink_api
        %td.links= link_to 'Code', '/documentation/examples/firmata_blink_api'
      %tr
        %td firmata_blink_metal
        %td.links= link_to 'Code', '/documentation/examples/firmata_blink_metal'
      %tr
        %td firmata_blink_robot
        %td.links= link_to 'Code', '/documentation/examples/firmata_blink_robot'
      %tr
        %td firmata_blinkm
        %td.links= link_to 'Code', '/documentation/examples/firmata_blinkm'
      %tr
        %td firmata_button
        %td.links= link_to 'Code', '/documentation/examples/firmata_button'
      %tr
        %td firmata_buzzer
        %td.links= link_to 'Code', '/documentation/examples/firmata_buzzer'
      %tr
        %td firmata_cat_toy
        %td.links= link_to 'Code', '/documentation/examples/firmata_cat_toy'
      %tr
        %td firmata_direct_pin
        %td.links= link_to 'Code', '/documentation/examples/firmata_direct_pin'
      %tr
        %td firmata_hmc6352
        %td.links= link_to 'Code', '/documentation/examples/firmata_hmc6352'
      %tr
        %td firmata_integration
        %td.links= link_to 'Code', '/documentation/examples/firmata_integration'
      %tr
        %td firmata_led_brightness
        %td.links= link_to 'Code', '/documentation/examples/firmata_led_brightness'
      %tr
        %td firmata_led_brightness_with_analog_input
        %td.links= link_to 'Code', '/documentation/examples/firmata_led_brightness_with_analog_input'
      %tr
        %td firmata_lidarlite
        %td.links= link_to 'Code', '/documentation/examples/firmata_lidarlite'
      %tr
        %td firmata_makey_button
        %td.links= link_to 'Code', '/documentation/examples/firmata_makey_button'
      %tr
        %td firmata_metal_button
        %td.links= link_to 'Code', '/documentation/examples/firmata_metal_button'
      %tr
        %td firmata_mma7660
        %td.links= link_to 'Code', '/documentation/examples/firmata_mma7660'
      %tr
        %td firmata_motor
        %td.links= link_to 'Code', '/documentation/examples/firmata_motor'
      %tr
        %td firmata_mpl115a2
        %td.links= link_to 'Code', '/documentation/examples/firmata_mpl115a2'
      %tr
        %td firmata_mpu6050
        %td.links= link_to 'Code', '/documentation/examples/firmata_mpu6050'
      %tr
        %td firmata_pir_motion
        %td.links= link_to 'Code', '/documentation/examples/firmata_pir_motion'
      %tr
        %td firmata_rgb_led
        %td.links= link_to 'Code', '/documentation/examples/firmata_rgb_led'
      %tr
        %td firmata_servo
        %td.links= link_to 'Code', '/documentation/examples/firmata_servo'
      %tr
        %td firmata_temp36
        %td.links= link_to 'Code', '/documentation/examples/firmata_temp36'
      %tr
        %td firmata_travis
        %td.links= link_to 'Code', '/documentation/examples/firmata_travis'
      %tr
        %td firmata_wiichuck
        %td.links= link_to 'Code', '/documentation/examples/firmata_wiichuck'
      %tr
        %td hello
        %td.links= link_to 'Code', '/documentation/examples/hello'
      %tr
        %td hello_api
        %td.links= link_to 'Code', '/documentation/examples/hello_api'
      %tr
        %td hello_api_auth
        %td.links= link_to 'Code', '/documentation/examples/hello_api_auth'
      %tr
        %td joule_blink
        %td.links= link_to 'Code', '/documentation/examples/joule_blink'
      %tr
        %td joule_blinkm
        %td.links= link_to 'Code', '/documentation/examples/joule_blinkm'
      %tr
        %td joule_grove_lcd
        %td.links= link_to 'Code', '/documentation/examples/joule_grove_lcd'
      %tr
        %td joule_leds
        %td.links= link_to 'Code', '/documentation/examples/joule_leds'
      %tr
        %td joule_rgb_led
        %td.links= link_to 'Code', '/documentation/examples/joule_rgb_led'
      %tr
        %td joystick_ps3
        %td.links= link_to 'Code', '/documentation/examples/joystick_ps3'
      %tr
        %td joystick_ps4
        %td.links= link_to 'Code', '/documentation/examples/joystick_ps4'
      %tr
        %td joystick_xbox360
        %td.links= link_to 'Code', '/documentation/examples/joystick_xbox360'
      %tr
        %td keyboard
        %td.links= link_to 'Code', '/documentation/examples/keyboard'
      %tr
        %td keyboard_mqtt
        %td.links= link_to 'Code', '/documentation/examples/keyboard_mqtt'
      %tr
        %td leap_motion
        %td.links= link_to 'Code', '/documentation/examples/leap_motion'
      %tr
        %td leap_motion_gestures
        %td.links= link_to 'Code', '/documentation/examples/leap_motion_gestures'
      %tr
        %td leap_motion_hands
        %td.links= link_to 'Code', '/documentation/examples/leap_motion_hands'
      %tr
        %td leap_servos
        %td.links= link_to 'Code', '/documentation/examples/leap_servos'
      %tr
        %td leap_sphero
        %td.links= link_to 'Code', '/documentation/examples/leap_sphero'
      %tr
        %td mavlink
        %td.links= link_to 'Code', '/documentation/examples/mavlink'
      %tr
        %td megapi_motor
        %td.links= link_to 'Code', '/documentation/examples/megapi_motor'
      %tr
        %td metal_button
        %td.links= link_to 'Code', '/documentation/examples/metal_button'
      %tr
        %td minidrone
        %td.links= link_to 'Code', '/documentation/examples/minidrone'
      %tr
        %td minidrone_events
        %td.links= link_to 'Code', '/documentation/examples/minidrone_events'
      %tr
        %td minidrone_ps3
        %td.links= link_to 'Code', '/documentation/examples/minidrone_ps3'
      %tr
        %td mqtt_driver_ping
        %td.links= link_to 'Code', '/documentation/examples/mqtt_driver_ping'
      %tr
        %td mqtt_firmata_blink
        %td.links= link_to 'Code', '/documentation/examples/mqtt_firmata_blink'
      %tr
        %td mqtt_ping
        %td.links= link_to 'Code', '/documentation/examples/mqtt_ping'
      %tr
        %td nats
        %td.links= link_to 'Code', '/documentation/examples/nats'
      %tr
        %td nats_driver_ping
        %td.links= link_to 'Code', '/documentation/examples/nats_driver_ping'
      %tr
        %td neurosky
        %td.links= link_to 'Code', '/documentation/examples/neurosky'
      %tr
        %td ollie
        %td.links= link_to 'Code', '/documentation/examples/ollie'
      %tr
        %td ollie_mqtt
        %td.links= link_to 'Code', '/documentation/examples/ollie_mqtt'
      %tr
        %td ollie_roll
        %td.links= link_to 'Code', '/documentation/examples/ollie_roll'
      %tr
        %td opencv_face_detect
        %td.links= link_to 'Code', '/documentation/examples/opencv_face_detect'
      %tr
        %td opencv_window
        %td.links= link_to 'Code', '/documentation/examples/opencv_window'
      %tr
        %td particle_api
        %td.links= link_to 'Code', '/documentation/examples/particle_api'
      %tr
        %td particle_blink
        %td.links= link_to 'Code', '/documentation/examples/particle_blink'
      %tr
        %td particle_button
        %td.links= link_to 'Code', '/documentation/examples/particle_button'
      %tr
        %td particle_events
        %td.links= link_to 'Code', '/documentation/examples/particle_events'
      %tr
        %td particle_function
        %td.links= link_to 'Code', '/documentation/examples/particle_function'
      %tr
        %td particle_led_brightness
        %td.links= link_to 'Code', '/documentation/examples/particle_led_brightness'
      %tr
        %td particle_variable
        %td.links= link_to 'Code', '/documentation/examples/particle_variable'
      %tr
        %td pebble
        %td.links= link_to 'Code', '/documentation/examples/pebble'
      %tr
        %td pebble_accelerometer
        %td.links= link_to 'Code', '/documentation/examples/pebble_accelerometer'
      %tr
        %td raspi_adafruit_dcmotor
        %td.links= link_to 'Code', '/documentation/examples/raspi_adafruit_dcmotor'
      %tr
        %td raspi_adafruit_servo
        %td.links= link_to 'Code', '/documentation/examples/raspi_adafruit_servo'
      %tr
        %td raspi_adafruit_stepper
        %td.links= link_to 'Code', '/documentation/examples/raspi_adafruit_stepper'
      %tr
        %td raspi_blink
        %td.links= link_to 'Code', '/documentation/examples/raspi_blink'
      %tr
        %td raspi_blinkm
        %td.links= link_to 'Code', '/documentation/examples/raspi_blinkm'
      %tr
        %td raspi_button
        %td.links= link_to 'Code', '/documentation/examples/raspi_button'
      %tr
        %td raspi_sht3x
        %td.links= link_to 'Code', '/documentation/examples/raspi_sht3x'
      %tr
        %td sphero
        %td.links= link_to 'Code', '/documentation/examples/sphero'
      %tr
        %td sphero_api
        %td.links= link_to 'Code', '/documentation/examples/sphero_api'
      %tr
        %td sphero_conways
        %td.links= link_to 'Code', '/documentation/examples/sphero_conways'
      %tr
        %td sphero_dpad
        %td.links= link_to 'Code', '/documentation/examples/sphero_dpad'
      %tr
        %td sphero_master
        %td.links= link_to 'Code', '/documentation/examples/sphero_master'
      %tr
        %td sphero_multiple
        %td.links= link_to 'Code', '/documentation/examples/sphero_multiple'
      %tr
        %td square
        %td.links= link_to 'Code', '/documentation/examples/square'
      %tr
        %td square_fire
        %td.links= link_to 'Code', '/documentation/examples/square_fire'
      %tr
        %td wifi_firmata_blink
        %td.links= link_to 'Code', '/documentation/examples/wifi_firmata_blink'
