---
page_title_show: true
title: Gobot Core
author: The Hybrid Group
description: Gobot Helpers
page_title: Core
page_subtitle: Components that make up Gobot's Core.
layout: documentation
active_menu_docs: true
---

%h1 Helper Functions   
%p
  Gobot comes with a few helper functions to assist you with common activities.

%h2 Timers
%h4
  = link_to "Every", "http://godoc.org/github.com/hybridgroup/gobot#Every" , target: :blank  
%h4
  = link_to "After", "http://godoc.org/github.com/hybridgroup/gobot#After" , target: :blank

%h2 Events
%h4
  = link_to "On", "http://godoc.org/github.com/hybridgroup/gobot#On" , target: :blank  
%h4
  = link_to "Once", "http://godoc.org/github.com/hybridgroup/gobot#Once" , target: :blank  
%h4
  = link_to "Publish", "http://godoc.org/github.com/hybridgroup/gobot#Publish" , target: :blank

%h2 Numbers
%h4
  = link_to "Rand", "http://godoc.org/github.com/hybridgroup/gobot#Rand" , target: :blank  
%h4
  = link_to "FromScale", "http://godoc.org/github.com/hybridgroup/gobot#FromScale" , target: :blank  
%h4
  = link_to "ToScale", "http://godoc.org/github.com/hybridgroup/gobot#ToScale" , target: :blank

%h2 Testing
%h4
  = link_to "Refute", "http://godoc.org/github.com/hybridgroup/gobot#Refute" , target: :blank  
%h4
  = link_to "Assert", "http://godoc.org/github.com/hybridgroup/gobot#Assert" , target: :blank  
