---
title: Gobot Resources
page_title: Resources
page_subtitle: Gobot around the world.
layout: page
active_menu_resources: true
page_title_show: true
---
%section.resources
  %h2 Videos
  %p We've traveled around the world to talk about Gobot, here are just a few of the videos.


  .video
    %h3.video-description Global IoT Devfest With The Best 2017: High-performance IoT Using Go and Gobot
    %iframe{:src => "https://www.youtube.com/embed/WMCs_Xm3-aY", :frameborder => "0", :allowfullscreen => "true"}

  .video
    %h3.video-description FOSDEM 2017 Talk: High-performance IoT Using Go and Gobot
    %iframe{:src => "http://ftp.fau.de/fosdem/2017/H.1302/go_gobot.vp8.webm", :frameborder => "0", :allowfullscreen => "true"}

  .video
    %h3.video-description GopherCon 2016 Lightning Talk: The Golang Hardware Report
    %iframe{:src => "https://www.youtube.com/embed/94BZ_2A6KLI", :frameborder => "0", :allowfullscreen => "true"}

  .video
    %h3.video-description Full Stack Robotics: A FutureTalk With Ron Evans (2016)
    %iframe{:src => "https://www.youtube.com/embed/pOLeFMT8Fbs", :frameborder => "0", :allowfullscreen => "true"}

  .video
    %h3.video-description GopherCon 2014 Gobot: Go Powered Robotics and Physical Computing
    %iframe{:src => "https://www.youtube.com/embed/Va-NE55AqBs", :frameborder => "0", :allowfullscreen => "true"}

  .video
    %h3.video-description Flying Iris At Distill 2014
    %iframe{:src => "https://www.youtube.com/embed/t9iUGJ3KIa0", :frameborder => "0", :allowfullscreen => "true"}

  .video
    %h3.video-description Gobot on Intel Edison
    %iframe{:src => "https://www.youtube.com/embed/X1ZmNHg0G30", :frameborder => "0", :allowfullscreen => "true"}

  .video
    %h3.video-description GothamGo 2014: Using Golang for Robotics and the Internet of Things (IoT)
    %iframe{:src => "https://player.vimeo.com/video/115618722?title=0&amp;byline=0&amp;portrait=0", :frameborder => "0", :allowfullscreen => "true"}

%section.resources
  %h2 Friends of Gobot Videos
  %p Here are some videos of what others have been able to do with Gobot.
  .video
    %h3.video-description Robotic hand being controlled by Gobot & Arduino + Leap Motion
    %iframe{:src => "https://www.youtube.com/embed/ayNMyUfdAqc", :frameborder => "0", :allowfullscreen => "true"}

%section.resources
  %h2 Friends of Gobot
  %p  Listed below are a few of the many blogs, videos, and projects which have featured Gobot.


  %h4
    = link_to "Controlling a Digispark board - <span class='site-name'>Applied Go</span>", "https://appliedgo.net/digispark/", target:"_blank",  class: "external-link"
  %h4
    = link_to "qpid - BBQ controller - <span class='site-name'>Github</span>", "https://github.com/bbqgophers/qpid", target:"_blank",  class: "external-link"
  %h4
    = link_to "Dartbot - live Web video rover - <span class='site-name'>Github</span>", "https://github.com/mbrumlow/dartbot", target:"_blank",  class: "external-link"
  %h4
    = link_to "Learning Simple Robot Programming With a 'Non-Threatening' Robot Ball (Video) - <span class='site-name'>Slashdot</span>", "http://hardware.slashdot.org/story/15/07/07/2024252/learning-simple-robot-programming-with-a-non-threatening-robot-ball-video", target:"_blank",  class: "external-link"
  %h4
    = link_to "Golang, Make and Robotics - <span>Speaker Deck</span>", "https://speakerdeck.com/hideyuki/golang-make-and-robotics-number-gocon", target:"_blank",  class: "external-link"
  %h4
    = link_to "Gobot Meets IoT : Using the Go Programming Language to Control The “Things” Around Us - <span>Slide Share</span>", "http://www.slideshare.net/justingrammens/google-devconf2015", target:"_blank",  class: "external-link"
  %h4
    = link_to "Interview - <span>GopherCon India</span>", "http://www.gophercon.in/blog/2014/12/18/ron/", target:"_blank",  class: "external-link"
