---
hero: true
social: true
catcher: false

title: Gobot - Golang framework for robotics, physical computing, and the Internet of Things
author: The Hybrid Group
description: Gobot is a framework for robotics, physical computing, and the Internet of Things, written in the <span> Go programming language</span>.
layout: home

hero_title: "<span>Go, Robot, Go!</span> <br> Golang Powered Robotics"
hero_subtitle: "Next generation robotics framework with support for <a href='#platforms'>15 different platforms</a>"

img_character: "<img src='images/elements/gophy.png'>"

catcher_phrase: Ready to build the next big thing with Go?
getting_started_button: "<a href='/documentation/getting-started' class='cta'>Start Now</a>"
---
%section.the-code
  %h2.homepage  Meet The Code

  %p Gobot makes commanding robots incredibly simple and fun.

  %p All you need to get started is install the library with :
  :markdown
    `go get -u github.com/hybridgroup/gobot`.

  %h2.homepage  Gobot with Sphero
  :markdown
        :::go
        package main

        import (
          "fmt"
          "time"

          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot/platforms/sphero"
        )

        func main() {
          gbot := gobot.NewGobot()

          adaptor := sphero.NewSpheroAdaptor("Sphero", "/dev/rfcomm0")
          spheroDriver := sphero.NewSpheroDriver(adaptor, "sphero")

          work := func() {
            gobot.Every(3*time.Second, func() {
              spheroDriver.Roll(30, uint16(gobot.Rand(360)))
            })
          }

          robot := gobot.NewRobot("sphero",
            []gobot.Connection{adaptor},
            []gobot.Device{spheroDriver},
            work,
          )

          gbot.AddRobot(robot)

          gbot.Start()
        }

  %h2.homepage  Gobot with Arduino
  :markdown
        :::go
        package main

        import (
          "time"

          "github.com/hybridgroup/gobot"
          "github.com/hybridgroup/gobot/platforms/firmata"
          "github.com/hybridgroup/gobot/platforms/gpio"
        )

        func main() {
          gbot := gobot.NewGobot()

          firmataAdaptor := firmata.NewFirmataAdaptor("arduino", "/dev/ttyACM0")
          led := gpio.NewLedDriver(firmataAdaptor, "led", "13")

          work := func() {
            gobot.Every(1*time.Second, func() {
              led.Toggle()
            })
          }

          robot := gobot.NewRobot("bot",
            []gobot.Connection{firmataAdaptor},
            []gobot.Device{led},
            work,
          )

          gbot.AddRobot(robot)

          gbot.Start()
        }
%section.gobot-platforms
  %h2#platforms.homepage Platform Support
  %p
    Gobot has a extensible system for connecting to hardware devices. The following robotics and physical computing platforms are currently supported:

    %h2.homepage.platforms
      = "#{ data.platforms.length } Platforms"

    %ul.homepage-platform
      - data.platforms.each do |name, data|
        %li
          .title
            = link_to name, data.url, target:"_blank"
          %a{:href => "/documentation/platforms/#{data.slug}"}
            %img{src: "/images/devices/#{data.slug}.jpg", style: "width: 90%"}

    .clear

  %p Support for many devices that use General Purpose Input/Output (GPIO) have a shared set of drivers provded using the gobot-gpio module:

  %h2.platforms
    = link_to "#{data.drivers.GPIO.length} GPIO drivers", "https://en.wikipedia.org/wiki/General_Purpose_Input/Output" , target:"_blank"

  %ul.homepage-platform
    - data.drivers.GPIO.each do |name, slug|
      %li
        .title= link_to name, "/documentation/drivers/#{slug}"
        %a{:href => "/documentation/drivers/#{slug}"}
          %img{src: "/images/devices/#{slug}.jpg", style: "width: 90%"}
  .clear

  %p Support for devices that use Inter-Integrated Circuit (I2C) have a shared set of drivers provded using the gobot-i2c module:

  %h2.platforms
    = link_to "#{data.drivers.I2C.length} I2C drivers", "https://en.wikipedia.org/wiki/I%C2%B2C", target:"_blank"

  %ul.homepage-platform
    - data.drivers.I2C.each do |name, slug|
      %li
        .title= link_to name, "/documentation/drivers/#{slug}"
        %a{:href => "/documentation/drivers/#{slug}"}
          %img{src: "/images/devices/#{slug}.jpg", style: "width: 90%"}

  %p.important-title
    See more drivers
    = link_to "here", "/documentation/drivers"

  %p More platforms and drivers are coming soon...

  %h2.homepage Getting Started

  :markdown
    Install the library with: `go get -u github.com/hybridgroup/gobot`
  :markdown
    Then install additional libraries for whatever hardware support you want to use from your robot. For example, `go get -u github.com/hybridgroup/gobot-sphero` to use Gobot with a Sphero.
  %p
    Ready to build Go robots with Gobot?
    = link_to "Get Started Here!", "documentation/getting-started"
%section.api
  %h2.homepage API
  %p Gobot includes a RESTful API to query the status of any robot running within a group, including the connection and device status, and execute device commands.

  :markdown
    To activate the API, require the `github.com/hybridgroup/gobot/api` package and instantiate the `API` like this:

        :::go
        gbot := gobot.NewGobot()
        gobot.NewAPI(gbot).Start()

    You can also specify the api host and port, and turn on authentication:

        :::go
        gbot := gobot.NewGobot()
        server := api.NewAPI(gbot)
        server.Port = "4000"
        server.Username = "Gort"
        server.Password = "klaatu"
        server.Start()

  %p
    :markdown
      You may access the [robeaux](https://github.com/hybridgroup/robeaux) AngularJS interface with Gobot by navigating to `http://localhost:3000/index.html`.

      <img src="/images/screenshots/robeaux.png" style="margin-top: 15px; width: 100%">

      You can check out more information on the Gobot API in the docs [here][api-docs].

      [api-docs]: /documentation/guides/api/

%section.cli
  %h2.homepage CLI
  %script{type:"text/javascript", src:"https://asciinema.org/a/10306.js", id:"asciicast-10306", "data-autoplay" => "1",  "data-loop" => "true"}
  :markdown
    [Gort][] is a Command Line Toolkit (CLI) for RobotOps. Gort provides tools to scan for connected devices, upload firmware, and it works perfectly with Gobot. Also included with Gobot is a CLI for generating new robots and adaptors. 

    You can can learn more about Gobot's CLI in the docs [here][cli-docs].

    [Gort]: http://gort.io
    [cli-docs]: /documentation/guides/cli


  %h2.homepage Be Part Of The Robot Evolution
  :markdown
    - Code on Github:   [https://github.com/hybridgroup/gobot](https://github.com/hybridgroup/gobot)
    - Join us on IRC:   `#gobotio @ irc.freenode.net`
    - Join us on our [Trello Board](https://trello.com/b/kQPsldtk/gobot).
